.one {
    text-align: center;
    color: rgba(0, 0, 255, 0.534);
    padding: 1px 0px;
    width: 100%;
    height: ;
    background-color: rgba(89, 89, 248, 0.233);
}
table {
    border: 1px solid rgb(11, 248, 82);
    width: 100%;
}
body{
    /* body div */
    background-color: rgb(44, 199, 226);
}
.tr1{
    background-color: rgba(0, 0, 0, 0.24);
    height: 25px;
}
.tr1 :hover{
    color: tomato;
    background-color: whitesmoke;
}
.td1{
    font-size: 40px;
}.two{
    float: right;
    width: 20%;
    min-height: 1200px;
    border: 1px solid black;
}
.three{
    float: left;
    width: 24%;
    min-height: 1200px;
    border: 1px solid black;
}
.four{
    float:;
    /* border: 1px solid black; */
    min-height: 1300px;

}
.five{
    width: 100%;
    height: 90px;
    border: 2px solid springgreen;
    background-color:rgba(0, 132, 255, 0.705);
}
